:root {
  --fadeout-duration: 0.5s;
  --fadeout-delay: 3.5s;
  --sparkle-rotation-duration: 1.5s;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  position: relative;
  width: 200px;
  height: 400px;
  animation: fadeOut var(--fadeout-duration) ease-out var(--fadeout-delay) forwards;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sparkle {
  animation: sparkleRotation var(--sparkle-rotation-duration) ease-out forwards;
}

.outlined-triangle {
  stroke: white;
  stroke-width: 2;
  clip-path: inset(100% 0 0 0);
  animation: initialTriangleIn 1s ease-out 0.5s forwards;
}

.filled-triangle {
  clip-path: inset(0 100% 0 0);
  animation: fillTriangle 1.5s ease 1s forwards;
}

.text {
  font-size: 4rem;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out 1.5s forwards, fadeOut 0.5s ease-out 3.5s forwards;
  letter-spacing: 2.5rem;
  opacity: 0;
}

@keyframes sparkleRotation {
  0% {
    transform: translate(-100px, -100px) rotate(-270deg);
    opacity: 0;
  }
  70% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes initialTriangleIn {
  100% { clip-path: inset(0% 0 0 0); }
}

@keyframes fillTriangle {
  100% { clip-path: inset(0 0 0 0); }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
} 